@font-face {
    font-family: 'ChillaxRegular';
    src:
        url('../fonts/Chillax-Regular.woff2') format('woff2'),
        url('../fonts/Chillax-Regular.woff') format('woff'),
        url('../fonts/Chillax-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ChillaxMedium';
    src:
        url('../fonts/Chillax-Medium.woff2') format('woff2'),
        url('../fonts/Chillax-Medium.woff') format('woff'),
        url('../fonts/Chillax-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ChillaxSemibold';
    src:
        url('../fonts/Chillax-Semibold.woff2') format('woff2'),
        url('../fonts/Chillax-Semibold.woff') format('woff'),
        url('../fonts/Chillax-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}



/* text font and size */
body {
    font-family: 'ChillaxRegular', Georgia, serif;
    font-size: 0.85em;
    /* Adjust this value to decrease text size proportionally */
    word-spacing: 0.25em;
    margin: 0px;
    padding: 5px;
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ChillaxSemibold', 'ChillaxRegular', Georgia, serif;
}